body {
  font-family: "Roboto", sans-serif;
}

.no-border {
  border: none;
}

.container {
  margin: rem(25);
}

.responsive-table{
  text-align: center;
  border-radius: rem(10);
  border: none;
}

.responsive-th{
  border: none;
  border-radius: rem(10);
}

.responsive-tb{
  border: none;
  border-radius: rem(10);
  background-color: black;
}

/* Tableau des utilisateurs*/
/* Styles pour les lignes paires */
.even-row {
  background-color: #f2f2f2;
}
/* Styles pour les lignes impaires */
.odd-row {
  background-color: black;
}
