.site-template-back-header {
  align-items: center;
  background-color: #4169E1;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.profil-button {
  display: flex;
  align-items: flex-end;
}

.section1-sidebar {
  display: flex;
  width: 20rem;
}

.sb-menu {
  display: flex;
  flex-direction: column;
  width: inherit;
  background: #fff;
  overflow-y: auto;
  box-sizing: border-box;
  border-right: 2px solid #4169E1;
}

.sb-logo {
  display: flex;
  padding: rem(16);
  height: fit-content;
  justify-content: center;
  align-items: flex-start;
}

.section2-page-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.584);
  padding: 16px;
}

.sb-menu-navigation {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(8);
  align-self: stretch;
  margin: 4px 24px;

  a{
      text-decoration: none;
  }
  .accordion {
      display: flex;
      padding: 8px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      border-bottom: 1px solid var(--black);

      &-title {
          font-size: rem(20);
          font-family: var(--text-font);
          color: var(--black);
      }

      &-icon {
          width: 30px;
          height: 30px;
          background-image: url(Views/CSS/assets/fleche-accordion-open.svg);
      }
      &:hover {
          background-color: rgba(65, 105, 225, 0.4);
      }
  }
}
