form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    div {
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    input {
      border: 1px solid var(--black);
      padding: 10px 15px;
      border-radius: 5px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;


      &::placeholder {
        color: var(--grey);
      }
    }


  }
