.block-line-search {
  background-color: white;
  display: inline-block;
  margin: 50px auto;
  border-radius: var(--border-radius-std);
  box-shadow: var(--box-shadow-base);
  padding: 17px 19px;
  align-items: flex-start;
  width: 500px;
  .search-input {
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
  }
}