body {
  background-color: rgba(16, 24, 40, 0.08);
  font-family: $font1;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

h1 {
  line-height: 0;
  padding-left: rem(15);
}

h2 {
  font-size: rem(36);
  margin: 0;
  padding: rem(15);
}

h3 {
  font-size: rem(20);
}

.page-content {
  flex-direction: column;
}

.section1-status-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: rem(30);
  .status-tab {
    color: black;
    .tab {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      padding: 0;
      th {
        text-align: left;
        &:first-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          display: block;
          border-bottom: none;
          background-color: transparent;
          color: black;
          &:hover,
          &.active {
            color: var(--blue);
            border-bottom: 2px solid var(--green);
          }
        }
      }
    }
    .tab-page {
      background-color: white;
      display: flex;
      margin: rem(50) auto;
      border-radius: var(--border-radius-std);
      box-shadow: var(--box-shadow-base);
      padding: rem(17) rem(19);
      width: rem(500);
    }
  }
}

.tab-item {
  padding: rem(10) rem(20);
  text-decoration: none;
  display: block;
  background-color: transparent;
  color: black;
}

