/* Couleurs */
$primary-white: #fff;
$primary-black: #000;
$gfm-secondary-green: #A8E141;
$gfm-accent-blue: #4169E1;
$red: #dc3545;
$gfm-primary-grey: #cbcdd1;

/* Variables css */
:root {
  /* Couleurs */
  --white: #{$primary-white};
  --black: #{$primary-black};
  --grey: #{$gfm-primary-grey};
  --grey-darker: #{darken($gfm-primary-grey, 10%)};
  --blue: #{$gfm-accent-blue};
  --blue-darker: #{darken($gfm-accent-blue, 10%)};
  --green: #{$gfm-secondary-green};
  --red: #{$red};
  --red-darker: #{darken($red, 10%)};

  /* Transitions */
  --transition-duration: 0.3s;



  --headers-font: #{$font2};
  --text-font: #{$font1};

  /* Border-radius */
  --border-radius-std: 10px;
  --border-radius-light: 5px;
  --border-radius-hard: 15px;

  /* Box-shadow */
  --box-shadow-base: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
