.my-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  width: 20%;
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  input {
    margin: 5px;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
  }
}

h1 {
  white-space: normal;
  line-height: 1.2;
  padding-left: rem(15);
}
