.block-line-search {
  display: inline-block;
  margin: 50px auto;
  border-radius: var(--border-radius-std);
  box-shadow: var(--box-shadow-base);
  padding: 17px 19px;
  align-items: flex-start;
  width: 500px;
  .search-input {
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
  }
}

.block-card {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: var(--border-radius-std);
  box-shadow: var(--box-shadow-base);
  padding: 20px;
  position: relative;

  &-media {
    &-img {
      padding-right: 15px;

      img {
        width: 100px;
        height: auto;
        border-radius: var(--border-radius-std);
      }
    }

    &-desc {
      display: flex;
      flex-direction: column;

      & .block-card-media-property {
        margin-right: 15px;
        margin-bottom: 5px;

        span.block-card-media-value {
          padding-left: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }

  &-modified {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &.block-card-custom-page.color {
    border: 1px solid var(--green);
    display: inline-flex;
    flex-direction: column;
    text-align: center;

    .block-card-custom-page-color-wrapper {
      display: inline-flex;
      margin-top: 10px;

      .block-card-custom-page-text {
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--grey);
        border-radius: var(--border-radius-std);
        margin-right: 10px;
        padding: 5px;
        input[type="color"] {
          border-radius: var(--border-radius-light);
          border: none;
          width: 25px;
        }
      }

      .block-card-custom-page-background {
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--grey);
        border-radius: var(--border-radius-std);
        padding: 5px;
        input[type="color"] {
          border-radius: var(--border-radius-light);
          border: none;
          width: 25px;
        }
      }
    }
  }
}
