.themes {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 16px;

    .themes-card {
        display: flex;
        width: 300px;
        height: 300px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid var(--black);
        background: var(--white);


        img {
            flex: 1 0 0;
            align-self: stretch;
        }

        &-active {
            display: flex;
            height: 40px;
            padding: 0px 24px;
            justify-content: center;
            align-items: center;
            gap: 100px;
            flex-shrink: 0;
            align-self: stretch;
            background: var(--green);
        }

        &-inactive {
            display: flex;
            height: 40px;
            padding: 0px 24px;
            justify-content: center;
            align-items: center;
            gap: 100px;
            flex-shrink: 0;
            align-self: stretch;
            background: var(--white);
        }
    }
}
