.section3-information-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: rem(30);
  .status-tab {
    color: black;
    .tab, tr {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      padding: 0 0 rem(20) 0;
      th, td {
        text-align: left;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}

.section5-page-add {
  display: flex;
  justify-content: space-around;
}

