.settings-bloc{
  background-color: var(--white);
  border-radius: rem(10);
  padding: rem(20);
}

.setting-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    display: flex;
    justify-content: space-between;
    padding: rem(10) 0;
    border-bottom: 1px solid var(--light-gray);
  }
}

.setting-button{
  padding-top: rem(15);
}

// .site-image{
//   width: 100%;
// }

